
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Sheet</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Fallout Tabletop RPG</h1>


{% if user.is_authenticated %}
    Welcome, {{ user.username }}!
{% else %}
    Welcome, Guest!
{% endif %}
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out">
    </form>
{% endif %}

<p><a href="../">Character select</a></p>

<h2>Character Sheet</h2>

{% for character in characters %}
    {% if user.username == character.user and character.active == True %}
        <h3>{{ character.name }}</h3>

            <h4>General Information</h4>

                <p><strong>Level:</strong> {{ character.level }}</p>
                <p><strong>Karma:</strong> {{ character.karma }}</p>

                <h5>Description</h5>
                    <p>{{ character.description }}</p>

                <h5>Backstory</h5>
                    <p>{{ character.backstory }}</p>




            <h4>Primary Statistics</h4>

                <h5>S.P.E.C.I.A.L. Stats</h5>
                    <ul>
                        <li><strong>Strength:</strong> {{ character.stat_strength }}</li>
                        <li><strong>Perception:</strong> {{ character.stat_perception }}</li>
                        <li><strong>Endurance:</strong> {{ character.stat_endurance }}</li>
                        <li><strong>Charisma:</strong> {{ character.stat_charisma }}</li>
                        <li><strong>Intelligence:</strong> {{ character.stat_intelligence }}</li>
                        <li><strong>Agility:</strong> {{ character.stat_agility }}</li>
                        <li><strong>Luck:</strong> {{ character.stat_luck }}</li>
                    </ul>

                <h5>Skills</h5>
                    <ul>
                        <li><strong>Barter:</strong> {{ character.skill_barter }}</li>
                        <li><strong>Energy Weapons:</strong> {{ character.skill_energy_weapons }}</li>
                        <li><strong>Explosives:</strong> {{ character.skill_explosives }}</li>
                        <li><strong>Guns:</strong> {{ character.skill_guns }}</li>
                        <li><strong>Guns:</strong> {{ character.skill_lockpick }}</li>
                        <li><strong>Medicine:</strong> {{ character.skill_medicine }}</li>
                        <li><strong>Melee Weapons:</strong> {{ character.skill_melee_weapons }}</li>
                        <li><strong>Repair:</strong> {{ character.skill_repair }}</li>
                        <li><strong>Science:</strong> {{ character.skill_science }}</li>
                        <li><strong>Sneak:</strong> {{ character.skill_sneak }}</li>
                        <li><strong>Speech:</strong> {{ character.skill_speech }}</li>
                        <li><strong>Survival:</strong> {{ character.skill_survival}}</li>
                        <li><strong>Unarmed:</strong> {{ character.skill_unarmed }}</li>
                    </ul>

            <h4>Secondary Statistics</h4>
                <ul>
                    <li><strong>Action Points:</strong> {{ character.action_points }}</li>
                    <li><strong>Poison Resistance:</strong> {{ character.poison_resistance}}</li>
                    <li><strong>Radiation Resistance:</strong> {{ character.radiation_resistance }}</li>
                    <li><strong>Critical Chance:</strong> {{ character.critical_chance }}</li>
                </ul>

            <h4>Perks</h4>
                <ul>
                    {% for char_perk_name in char_perk_names %}
                        <li>{{ char_perk_name }}</li>
                    {% endfor %}
                </ul>

            <h4>Health and Effects</h4>
                <ul>
                    <li><strong>Hit Points:</strong> {{ character.hit_points }}</li>
                    <li><strong>Base Armor:</strong> {{ character.base_armor }}</li>
                    <li><strong>Rads:</strong> {{ character.rads }}</li>
                    <li><strong>Rad Effects:</strong> {{ character.rad_effects }}</li>
                    <li><strong>Other Effects:</strong> {{ character.other_effects }}</li>
                </ul>

                <form action="/update_cnd/" method="post">
                    {% csrf_token %}
                    {{ update_cnd_form }}
                    <input type="submit" value="Update Condition">
                </form>

            <h4>Inventory</h4>
                <ul>
                    {% for item in items %}
                        {% if item.owner.name == character.name %}
                            <li>Quantity: {{ item.quantity }}, Name: {{ item.name }}, Value: {{ item.value }}, Notes: {{ item.notes }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>

                <form action="/add_inventory/" method="post">
                    {% csrf_token %}
                    {{ add_inventory_form }}
                    <input type="submit" value="Add Item">
                </form>

            <h4>Armor</h4>
                {% for armor in armors %}
                    {% if armor.owner.name == character.name %}
                        <p><strong>{{ armor.name }}</strong></p>
                        <ul>
                            <li><strong>Type:</strong> {{ armor.type }}</li>
                            <li><strong>Effects:</strong> {{ armor.effects }}</li>
                            <li><strong>Armor Class:</strong> {{ armor.armor_class }}</li>
                            <li><strong>Damage Reduction:</strong> {{ armor.damage_reduction }}</li>
                        </ul>

                    {% endif %}
                {% endfor %}

                <form action="/add_armor/" method="post">
                    {% csrf_token %}
                    {{ add_armor_form }}
                    <input type="submit" value="Add Armor">
                </form>

        <h4>Weapons</h4>
            {% for weapon in weapons %}
                {% if weapon.owner.name == character.name %}
                    <p><strong>{{ weapon.name }}</strong></p>
                    <ul>
                        <li><strong>Type:</strong> {{ weapon.type }}</li>
                        <li><strong>Range:</strong> {{ weapon.range }}</li>
                        <li><strong>Damage:</strong> {{ weapon.damage }}</li>
                        {% if weapon.is_burst == True and weapon.type != "Melee" %}
                            <li><strong>AP Cost Single Shot:</strong> {{ weapon.ap_cost_single }}</li>
                            <li><strong>AP Cost Targeted Shot:</strong> {{ weapon.ap_cost_targeted }}</li>
                            <li><strong>AP Cost Burst Shot:</strong> {{ weapon.ap_cost_burst }}</li>
                            <li><strong>Ammo Count:</strong> {{ weapon.ammo_count }}</li>
                            <li><strong>Ammo Type:</strong> {{ weapon.ammo_type }}</li>
                            <li><strong>Ammo Per Shot:</strong> {{ weapon.ammo_per_shot }}</li>
                            <li><strong>Ammo Per Burst:</strong> {{ weapon.ammo_per_burst }}</li>
                            <form action="/update_ammo/" method="post">
                                {% csrf_token %}
                                {{ update_ammo_form }}
                                <input type="submit" value="{{ weapon.id }}" name="Update Ammo">
                            </form>
                        {% elif weapon.type != "Melee" %}
                            <li><strong>AP Cost Single Shot:</strong> {{ weapon.ap_cost_single }}</li>
                            <li><strong>AP Cost Targeted Shot:</strong> {{ weapon.ap_cost_targeted }}</li>
                            <li><strong>Ammo Count:</strong> {{ weapon.ammo_count }}</li>
                            <li><strong>Ammo Type:</strong> {{ weapon.ammo_type }}</li>
                            <li><strong>Ammo Per Shot:</strong> {{ weapon.ammo_per_shot }}</li>
                            <form action="/update_ammo/" method="post">
                                {% csrf_token %}
                                {{ update_ammo_form }}
                                <input type="submit" value="{{ weapon.id }}" name="Update Ammo">
                            </form>
                        {% else %}
                            <li><strong>AP Cost Single Shot:</strong> {{ weapon.ap_cost_single }}</li>
                            <li><strong>AP Cost Targeted Shot:</strong> {{ weapon.ap_cost_targeted }}</li>
                        {% endif %}
                        <li><strong>Special Abilities:</strong> {{ weapon.special_abilities }}</li>
                    </ul>

                {% endif %}
            {% endfor %}

            <form action="/add_weapon/" method="post">
                {% csrf_token %}
                {{ add_weapon_form }}
                <input type="submit" value="Add Weapon">
            </form>

    {% else %}
            No characters :(
    {% endif %}
{% endfor %}



</body>
</html>