
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Fallout Tabletop RPG</h1>

{% if user.is_authenticated %}
    Welcome, {{ user.username }}!
{% else %}
    Welcome, Guest!
{% endif %}
{% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sign Out">
    </form>
{% endif %}

<p><a href="../">Character select</a></p>

<h2>Create a Character</h2>

<p>tag 3 skills, initial values</p>

</body>
</html>